@import "common.scss";
@import "_mixin.scss";
//移动端
.wrap {
    @include num(100%, 100%);
    overflow-y: auto;
}

.m-header {
    @include num(100%, rem(40px));
    @include flexs;
    padding: 0 rem(40px);
    @include sizing;
    .headerImg {
        @include num(19%, 100%);
    }
    img {
        @include num(10%, 100%)
    }
}

.m-section {
    @include num(100%, auto);
    .m-banner {
        @include num(100%, auto);
        img {
            @include num(100%, rem(300px));
        }
    }
    .m-sectionTop {
        @include num(100%, rem(44px));
        border-bottom: 1px solid #ccc;
        .m-sectionTopUl {
            @include num(100%, auto);
            @include flexs;
            padding: 0 rem(30px);
            @include sizing;
            justify-content: space-around;
            font-size: rem(14px);
            line-height: rem(44px);
            color: #ccc;
            li {
                height: rem(43px);
                &:hover {
                    cursor: pointer;
                    color: #000;
                    border-bottom: rem(2px) solid skyblue;
                }
            }
            .liActive {
                color: #000;
                border-bottom: rem(2px) solid skyblue;
            }
        }
    }
}

.header {
    display: none;
}

.b-section {
    display: none;
}

//PC端
@media screen and (min-width: 1000px) {
    .m-header {
        display: none;
    }
    .m-section {
        display: none;
    }
    .wrap {
        @include num(100%, 100%);
        overflow-y: auto;
    }
    .header {
        @include num(100%, rem(80px));
        background: #6487F9;
        display: flex;
        padding: 0 rem(180px);
        align-items: center;
        img {
            @include num(9%, auto);
        }
        .headerUl {
            @include num(40%, auto);
            @include flexs;
            margin-left: rem(80px);
            li {
                font-size: rem(12px);
                text-align: center;
                padding-bottom: rem(5px);
                @include sizing;
                &:hover {
                    border-bottom: rem(2px) solid skyblue;
                }
                &:nth-of-type(7) {
                    font-size: rem(10px);
                }
            }
        }
    }
    .b-section {
        @include flexs;
        flex-direction: column;
        flex: 1;
        .banner {
            @include num(100%, rem(420px));
            img {
                @include num(100%, 100%);
            }
        }
        .sectionTop {
            @include num(100%, rem(44px));
            border-bottom: 1px solid #ccc;
            .sectionTopUl {
                padding: 0 rem(150px);
                @include num(30%, auto);
                @include flexs;
                line-height: rem(44px);
                font-size: rem(12px);
                color: #ccc;
                li {
                    height: rem(43px);
                    &:hover {
                        cursor: pointer;
                        color: #000;
                        border-bottom: rem(2px) solid skyblue;
                    }
                }
                .liActive {
                    color: #000;
                    border-bottom: rem(2px) solid skyblue;
                }
            }
        }
        .sectionCenterOne {
            @include num (100%, auto);
            padding-top: rem(50px);
            .Eacharts {
                @include num(100%, auto);
                @include flexs;
                justify-content: space-around;
                padding: 0 rem(40px);
                @include sizing;
                .Eacharts-Left {
                    @include num(rem(200px), rem(300px));
                    ul {
                        @include num(100%, 100%);
                        background: #eee;
                        li {
                            @include num(100%, rem(30px));
                            @include flexs;
                            padding: 0 rem(10px);
                            @include sizing;
                            p {
                                .ind {
                                    background: #ccc;
                                    padding: rem(4px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.maskss {
    @include num (100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    background: #0099F8;
    @include box_flex;
    flex-direction: column;
    .maskHeader {
        @include num(100%, rem(44px));
        @include flexs;
        padding: 0 rem(10px);
        @include sizing;
        .logosImg {
            @include num(rem(80px), auto);
        }
        img {
            @include num(rem(50px), auto);
        }
    }
    .maskSection {
        flex: 1;
        ul {
            @include num(100%, 100%);
            padding: 0 rem(40px);
            @include sizing;
            li {
                @include num(100%, rem(40px));
                border-bottom: 1px solid #fff;
                line-height: rem(40px);
                color: #fff;
                font-size: rem(14px);
                font-weight: bold;
            }
        }
    }
}